input, textarea {
    width: 100%;
    margin: 4px 0;

    padding: 26px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    background-color: transparent;
    color: #fff;
    opacity: 1;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    color: #fff;
    opacity: 1;
}

textarea {
    height: 127px;
}

.form-error {
    color: #F14D34;
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 10px;
}
